url = "/feedback"
layout = "default"

[feedbacks]
==
<div class="container content-container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 top-margin">
            <h1>Feedback</h1>
            <br>
        </div>
    </div>

    <div class="row star">


                <div class="col-sm-5 col-sm-push-5 col-sm-offset-1 col-md-4 col-md-push-4 col-md-offset-2">
                    {% if feedbacks.index.count > 0 %}
                        {% for entry in feedbacks.index %}
                            <div class="small"><i>{{ entry.name }}, {{ entry.created_at|date("d.m.Y") }}</i></div>
                            <p>{{ entry.comment }}</p>
                            <br>
                        {% endfor %}
                    {% else %}
                        <p>Sei der erste, der sein Feedback abgibt!</p>
                    {% endif %}
                </div>

                <div class="col-sm-5 col-sm-pull-5 col-md-4 col-md-pull-4">
                    <form data-request="onSend"
                          data-request-validate
                          data-request-flash>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="url" name="url" placeholder="URL">
                        </div>
                        <textarea class="form-control" rows="5" name="comment"
                                  placeholder="Schreib uns was ..."></textarea>
                        <button type="submit" class="text-hide button-absenden">Submit</button>
                    </form>
                </div>


    </div>
</div>