body{
    font-family: 'Schoolbell', cursive;
    font-size: 170%;
    padding-top: 110px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Amatica SC', cursive;
    font-weight: 500;
    line-height: 1.1;
}

.navbar{
    min-height: 110px;
}

.navbar-inverse {
    background: url("/themes/dws/assets/images/menu-hg.png");

    border: none;
    font-family: 'Schoolbell', cursive;
    font-size: 130%;
}

.content-container{
    margin-bottom: 80px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.footer{
    margin-top: 10px;
    background: url("/themes/dws/assets/images/menu-hg.png");
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Amatica SC', cursive;
}

.footer .container p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.charakter{
    position: absolute;
    right: 20px;
    bottom: 25px;
}

.navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after, .navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
    background: #e6e6e6;
}

.navbar-brand{
    font-family: 'Amatica SC', cursive;
    color: rgb(235, 235, 235) !important;
    height: 110px;
}

.black{
    color: rgb(62, 62, 62);
}

.m-b-12{
    margin-bottom: -12px;
}
.big{
    font-size: 240%;
    max-width: 100%;
    position: absolute;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
        margin-top: -6px;
    }
}

@media (max-width: 768px) {
    .navbar-brand{
        max-width: 80%;
        padding-top: 15px;
    }

    .navbar-inverse .navbar-toggle {
        border: none;
    }
}

.no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*.navbar-header .navbar-brand {*/
    /*padding-left: 55px;*/
    /*background-image: url('../images/dws-logo.png');*/
    /*background-size: auto 70%;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 7px 50%;*/
    /*transition: color 0.2s ease 0.05s;*/
    /*color: #ccc;*/
/*}*/

.pt-10{
    padding-top: 10px;
}

.blue{
    background-color: #4FBECD;
    color: white;
}

.red{
    background-color: #CD584F;
    color: white;
}

.green{
    background-color: #4FCD78;
    color: white;
}

.beige{
    background-color: #CDC14F;
    color: white;
}

.row.last{
    margin-bottom: 80px;
}
