<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {#<a href="{{ 'home'|page }}" class="navbar-brand"></a>#}
            <a class="navbar-brand" href="{{ 'home'|page }}">
                <small>Daniel Opitz <br>
                <span class="black">Benjamin Hasenclever</span></small>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if this.page.id == 'buch' %}active{% endif %} first"><a href="{{ 'buch'|page }}">Buch</a></li>
                <li class="{% if staticPage.title == 'Charaktere' %}active{% endif %}"><a href="{{ 'charaktere'|staticPage }}">Charaktere</a>
                </li>
                <li class="{% if staticPage.title == 'Team' %}active{% endif %}"><a href="{{ 'team'|staticPage }}">Team</a></li>
                <li class="{% if this.page.id == 'feedback' %}active{% endif %}"><a href="{{ 'feedback'|page }}">Feedback</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
